.marvelLogo {
    cursor: pointer;
  background-color: #ed1d24;
  font-size: 45px;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  overflow: hidden;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.marvelLogo a{
    color: white;
}